<div class="container shadow py-4 mt-3 mb-5" style="max-width: 700px;" data-controller="form-steps autocomplete multi-step">
  <%= form_with(model: @parcel_ad, local: false, data: { turbo: true, controller: "form-logic submission" }) do |form| %>
    <div id="form-errors"></div>
     <div class="col-md-8 mx-auto mt-5" data-controller="multi-step">
        <!-- Step 1: (Departure details) -->
        <div data-multi-step-target="step">
          <div class="mb-2">
            <h4>Departure Info</h4>
            <%= form.label :departure, "Address", class: "mt-2 mb-2 fw-bold" %>
            <%= form.text_field :departure_city, class: 'form-control border', placeholder: 'Departure', 
                              id: 'departure_city_select', 
                              autocomplete: 'off', 
                              value: params[:departure_city].present? ? params[:departure_city] : '', 
                              data: { target: 'autocomplete.departureCity' } %>
            <%= form.hidden_field :departure_country, id: 'departure_country', data: { target: 'autocomplete.departureCountry' } %>
          </div>
      
          <div class="search-items">
            <%= form.label :removal_type, "Type of removal", class: "mt-2 mb-2 fw-bold" %>
            <%= form.select :removal_type, ParcelAd::REMOVAL_TYPE, { prompt: 'Choose a removal type' }, { class: 'form-select' } %>
          </div>

          <!-- Toggle Switch -->
          <div class="form-check form-switch d-flex align-items-center mb-3 mt-3">
            <input type="checkbox" class="form-check-input me-2"
                   id="toggleSenderDetails"
                   data-action="change->multi-step#toggleSenderDetails">
            <label for="toggleSenderDetails" class="form-check-label">I have the sender's contact details</label>
          </div>

          <!-- Sender Info (hidden by default) -->
          <div data-multi-step-target="senderDetails" data-form-logic-target="senderDetails" style="display: none;">
            <div class="mb-2">
              <%= form.label :parcel_sender_name, "Sender's Name", class: "fw-bold" %>
              <%= form.text_field :parcel_sender_name, class: "form-control", autocomplete: 'off' %>
            </div>
            <div class="mb-2">
              <%= form.label :parcel_sender_phone, "Sender's Phone", class: "fw-bold" %>
              <%= form.text_field :parcel_sender_phone, class: "form-control", autocomplete: 'off' %>
            </div>
            <div class="mb-2">
              <%#= form.label :parcel_sender_email, "Sender's Email", class: "fw-bold" %>
              <%#= form.email_field :parcel_sender_email, class: "form-control" %>
            </div>
            <div class="mb-2">
              <%= form.label :removal_description, "Removal Instructions", class: "fw-bold" %>
              <%= form.text_area :removal_description, class: "form-control" %>
              <small>This information is private and will only be shared with the carrier after booking.</small>
            </div>
          </div>

          <!-- Navigation buttons -->
          <div class="d-flex justify-content-end mt-4">
            <button type="button" data-action="click->multi-step#next" class="btn btn-primary">Next</button>
          </div>
        </div>

        <!-- Step 2: (Arrival details) -->
        <div data-multi-step-target="step" class="d-none">
          <h4>Arrival Info</h4>
            <div class="mb-2">
              <%= form.label :departure, "Address", class: "mt-2 mb-2 fw-bold" %>
              <%= form.text_field :arrival_city, class: 'form-control', placeholder: 'Arrival', 
                                id: 'arrival_city_select', 
                                autocomplete: 'off', 
                                value: params[:arrival_city].present? ? params[:arrival_city] : '', 
                                data: { target: 'autocomplete.arrivalCity' } %>
              <%= form.hidden_field :arrival_country, id: 'arrival_country', data: { target: 'autocomplete.arrivalCountry' } %>
            </div>

            <div class="search-items">
              <%= form.label :delievery_type, "Delivery type", class: "mt-2 mb-2 fw-bold" %>
              <%= form.select :delievery_type, ParcelAd::DELIEVERY_TYPE, { prompt: 'Choose a delivery type' }, { class: 'form-select' } %>
            </div>

            <!-- Toggle Switch -->
            <div class="form-check form-switch d-flex align-items-center mb-3 mt-3">
              <input type="checkbox" class="form-check-input me-2"
                     id="toggleReceiverDetails"
                     data-action="change->multi-step#toggleReceiverDetails">
              <label for="toggleReceiverDetails" class="form-check-label">I have the recipient's contact details</label>
            </div>

            <!-- Receiver Info (hidden by default) -->
            <div data-multi-step-target="receiverDetails" data-form-logic-target="receiverDetails" style="display: none;">
              <div class="mb-2">
                <%= form.label :parcel_receiver_name, "Receiver's Name", class: "fw-bold" %>
                <%= form.text_field :parcel_receiver_name, class: "form-control", autocomplete: 'off' %>
              </div>
              <div class="mb-2">
                <%= form.label :parcel_receiver_phone, "Receiver's Phone", class: "fw-bold" %>
                <%= form.text_field :parcel_receiver_phone, class: "form-control", autocomplete: 'off' %>
              </div>
              <div class="mb-2">
                <%#= form.label :parcel_receiver_email, "Receiver's Email", class: "fw-bold" %>
                <%#= form.email_field :parcel_receiver_email, class: "form-control" %>
              </div>
              <div class="mb-2">
                <%= form.label :delievery_instruction, "Delivery Instructions", class: "fw-bold" %>
                <%= form.text_area :delievery_instruction, class: "form-control" %>
                <small>This information is private and will only be shared with the carrier after booking.</small>
              </div>
            </div>

            <!-- Navigation buttons -->
            <div class="d-flex justify-content-between mt-4">
              <button type="button" data-action="click->multi-step#prev" class="btn btn-outline-secondary">Back</button>
              <button type="button" data-action="click->multi-step#next" class="btn btn-primary">Next</button>
            </div>
        </div>

        <!-- Step 3: Packages (Packages) -->
        <div data-multi-step-target="step" class="d-none">
          <h4>Packages Info</h4>
          <div class="">
            <%#= form.label :parcel_images, "Parcel Images" %>
            <%= form.file_field :parcel_images, multiple: true, class: 'form-control', id: 'parcel_images_input', data: { form_logic_target: "parcelImagesInput" } %>
            <small class="text-danger">Up to 7 photos, JPG, PNG and GIF format up to 7MB</small>
          </div>
          <div id="parcel_images_preview" class="mt-3" data-form-logic-target="parcelImagesPreview"></div>

          <div class="row">
            <div class="col-lg-3">
              <%= form.label :parcel_quantity, "Quantity", class: 'form-label' %>
              <%= form.number_field :parcel_quantity, class: 'form-control', placeholder: 'pcs', min: 0 , value: @parcel_ad.parcel_quantity || 0, id: 'parcel_quantity' %>
              <%# <div id="quantity_display" class="mt-2 fw-bold">Quantity: 0</div> %>
            </div>
            <div class="col-lg-9">
              <%= form.label :parcel_type, "Object", class: 'form-label' %>
              <%= form.text_field :parcel_type, class: 'form-control', placeholder: 'Ex: Sofa, armchair...', autocomplete: 'off' %>
            </div>
          </div>

          <!-- Toggle Switch -->
          <div class="form-check form-switch d-flex align-items-center mb-3 mt-3">
            <input type="checkbox" class="form-check-input me-2"
                   id="toggleParcelDetails"
                   data-action="change->multi-step#toggleParcelDetails">
            <label for="toggleParcelDetails" class="form-check-label">I know the exact dimensions</label>
          </div>

          <!-- Parcel Info (hidden by default) -->
          <div data-multi-step-target="parcelDetails" data-form-logic-target="parcelDetails" style="display: none;">
            <div class="row">
              <div class="col-lg-4">
                <%= form.label :parcel_length, "Length (cm)", class: "fw-bold mb-2 mt-2" %>
                <%= form.text_field :parcel_length, class: "form-control", placeholder: 'Ex: 20', autocomplete: 'off' %>
              </div>
              <div class="col-lg-4">
                <%= form.label :parcel_width, "Width (cm)", class: "fw-bold mb-2 mt-2" %>
                <%= form.text_field :parcel_width, class: "form-control", placeholder: 'Ex: 80', autocomplete: 'off' %>
              </div>
              <div class="col-lg-4">
                <%= form.label :parcel_height, "Height (cm)", class: "fw-bold mb-2 mt-2" %>
                <%= form.text_field :parcel_height, class: "form-control", placeholder: 'Ex: 30', autocomplete: 'off' %>
              </div>
            </div>
          </div>

          <div class="col mt-2">
            <%= form.label :parcel_format, "Format", class: 'form-label' %>
            <%= form.select :parcel_format, ParcelAd::PARCEL_FORMAT, {prompt: true}, {class: 'form-select'}  %>
          </div>

          <div class="col mt-2">
            <%= form.label :parcel_weight, "Weight", class: 'form-label' %>
            <%= form.select :parcel_weight, ParcelAd::PARCEL_WEIGHT, {prompt: true}, {class: 'form-select'}  %>
          </div>

          <div class="col mt-2">
            <%= form.label :description, "Additional information", class: 'form-label' %>
            <%= form.text_area :description, class: "form-control", placeholder: "Ex: The longest box is 2m15, the heaviest is a sofa" %>
          </div>

          <!-- Navigation buttons -->
          <div class="d-flex justify-content-between mt-4">
            <button type="button" data-action="click->multi-step#prev" class="btn btn-outline-secondary">Back</button>
            <button type="button" data-action="click->multi-step#next" class="btn btn-primary">Next</button>
          </div>
        </div>

        <!-- Step 4: Price (Price) -->
        <div data-multi-step-target="step" class="d-none">
          <h4>Pricing Info</h4>
          <div class="col">
            <%= form.label :proposed_fee, "Proposed Fee", class: 'form-label' %>
            <div class="input-group">
              <span class="input-group-text">$</span>
              <%= form.number_field :proposed_fee, id: 'proposed_fee', class: 'form-control', placeholder: 'Proposal fee', autocomplete: 'off', data: { form_logic_target: "proposedFee" } %>
            </div>
          </div>
          <div class="col mt-2">
            <%= form.label :recommended_fee, "Recommended Fee", class: 'form-label' %>
            <div class="input-group">
              <span class="input-group-text">$</span>
              <%= form.number_field :recommended_fee, id: 'recommended_fee', class: 'form-control', placeholder: 'Recommended fee', autocomplete: 'off', data: { form_logic_target: "recommendedFee" } %>
            </div>
          </div>

          <div id="fee-comparison-result" class="mt-3" data-form-logic-target="feeComparisonResult"></div>

          <!-- Submit button -->
          <div class="d-flex justify-content-between mt-4">
            <button type="button" data-action="click->multi-step#prev" class="btn btn-outline-secondary">Back</button>
            <%= form.submit 'Submit', class: 'btn btn-success' %>
          </div>
        </div>
    </div>
  <% end %>
</div>

<style>
  .img-thumbnail-wrapper {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .img-thumbnail-wrapper span {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    padding: 0 5px;
    font-weight: bold;
    z-index: 10;
  }
</style>

