<% if @parcel_ads.present? %>
  <% @parcel_ads.each do |parcel| %>
    <div class="col-lg-12 mt-2 border">
      <div class="card-body">
        <h5 class="badge bg-warning mb-2 rounded-0">Sender</h5>
        <div class="row g-0 mt-2 p-3">
          <div class="col-md-6">
            <%= link_to parcel_ad_path(parcel), class: 'text-decoration-none' do %>
              <% if parcel.departure_city.present? || parcel.departure_country.present? || parcel.arrival_city.present? || parcel.arrival_country.present? %>
                <p class="fw-bold fs-6"><%= parcel.departure_city %> - <%= parcel.departure_country %> <i class="fa fa-arrow-right"></i> <%= parcel.arrival_city %> - <%= parcel.arrival_country %></p>
              <% end %>
            <% end %>
            <span class="">
              <% if parcel.shipment_date.present? %>
                <p class="fs-12">
                  <strong><%= parcel.shipment_date %></strong>
                </p>
              <% end %>
            </span>
          </div>
          <div class="col-md-6">
            <% if parcel.parcel_type.present? %>
              <div class="">
                <h6 class="">Carry For Me:</h6>
                  <div id="parcel_type_buttons" class="btn-group d-flex flex-wrap justify-content-start" role="group" aria-label="Parcel Type">
                    <button type="button" class="parcel-type-button <%= 'active' if parcel.parcel_type == 'Document' %> " data-value="Document">
                      📄 Document
                    </button>
                    <button type="button" class="parcel-type-button <%= 'active' if parcel.parcel_type == 'Parcel' %>" data-value="Parcel">
                      📦 Parcel
                    </button>
                    <button type="button" class="parcel-type-button <%= 'active' if parcel.parcel_type == 'Pallet' %>" data-value="Pallet">
                      📏 Pallet
                    </button>
                    <button type="button" class="parcel-type-button <%= 'active' if parcel.parcel_type == 'Electronics' %>" data-value="Electronics">
                      💻 Electronics
                    </button>
                    <button type="button" class="parcel-type-button <%= 'active' if parcel.parcel_type == 'Clothing' %>" data-value="Clothing">
                      👕 Clothing
                    </button>
                  </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="row g-0 mb-2 p-3">
          <div class="col-md-6">
            <div class="name">
              <% if parcel.user.present? %>
                <% if parcel.user.profile_picture.attached?  %>
                  <%= image_tag parcel.user.profile_picture, class: 'rounded-circle', alt: 'User Avatar', height:"70", width:"70" %>
                <% else %>
                  <img alt="Profile picture placeholder" height="70" src="https://storage.googleapis.com/a1aa/image/jed55Xb2pTXQA6deohLNwe2jvjqoa7HqClQTTdbTedr7VQROB.jpg" width="70", class="rounded-circle">
                <% end %>
              <% end %>
              <%= profile_link_for(parcel) %>
            </div>
            <div class="icons mt-3 fs-4 mx-2">
              <%= verification_icons(parcel.user) %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-lg-6">
                <% if parcel.parcel_weight.present? %>
                  <div class="buy-for-you">
                    <h6 class="me-2">Parcel Weight:</h6>
                    <div aria-label="Buy For You" class="btn-group" role="group">
                      <span class="border p-1" style="border-radius: 5px;"><%= format("%02d", parcel.parcel_weight) %> g</span>
                    </div>
                  </div>
                <% end %>
              </div>

              <div class="col-lg-6">
                <% if parcel.proposed_fee.present? %>
                  <div class="buy-for-you">
                    <h6 class="me-2">Proposed Fee:</h6>
                    <div aria-label="Buy For You" class="btn-group" role="group">
                      <span class="border p-1" style="border-radius: 5px;"><%= number_to_currency(parcel.proposed_fee) %></span>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
            
            <div class="mt-5 d-flex justify-content-end">
              <%= link_to 'See Preview', parcel_ad_path(parcel), class: 'btn text-white rounded-pill me-2',  style:"background-color: #353188 !important" %>
              <span class="btn btn-outline-primary rounded-pill" id="profile-button"><%= profile_link_for(parcel) %></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
<div class="alert alert-danger text-center mt-2 mb-2" role="alert">
  No sender is found for your search criteria.
</div>
<% end %>