<section class="section popular-car-type">
  <div class="text-center mt-5 mb-5">
    <!-- Heading title-->
    <div class="section-heading" data-aos="fade-down">
      <h2 style="color: #353188; font-size: 2.5rem; font-weight: bold;">Elevate Your Experience</h2>
      <h3 style="font-size: 1.5rem;">Download Our App Today</h3>
    </div>
    
    <div class="row g-0" style="text-align: center;">
      <div class="col-md-4"></div>
      <div class="col-md-2">
        <%= image_tag "google-play.png", class:"mt-4" %>
      </div>
      <div class="col-md-2">
        <%= image_tag "apple-store.png", class:"mt-4" %>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>

  <div class="row g-0" style="text-align: center;">
    <div class="col-lg-2"></div>
    <div class="col-lg-3">
      <div class="card text-white mb-2" style="background-color: #353188; width: 15rem; margin: 0 auto;">
        <div class="elevate_experience_box mt-2 mb-2" style="text-align: center;">
          <%= image_tag "thumbs.png", class: 'mb-2' %>
          <span style="font-size: 1.25rem;"><br> 10,000 <br>Orders</span>
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="card text-white mb-2" style="background-color: #353188; width: 15rem; margin: 0 auto;">
        <div class="elevate_experience_box mt-2 mb-2" style="text-align: center;">
          <%= image_tag "users.png", class: 'mb-2' %>
          <span style="font-size: 1.25rem;"><br> 3000 <br>Users</span>
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="card text-white mb-2" style="background-color: #353188; width: 15rem; margin: 0 auto;">
        <div class="elevate_experience_box mt-2 mb-2" style="text-align: center;">
          <%= image_tag "travel.png", class: 'mb-2' %>
          <span style="font-size: 1.25rem;"><br> 2000 <br>On Travel</span>
        </div>
      </div>
    </div>
    <div class="col-lg-1"></div>
  </div>
</section>
