<nav class="navbar navbar-expand-lg">
 <div class="container-fluid">
  <a class="navbar-brand fs-4" href="/">DREXBE</a>
  <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
   <span class="navbar-toggler-icon">
   </span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <%# if user_signed_in? %>
     <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <%= link_to "Travel", new_traveler_path, class: 'nav-link fs-5' %>
      </li>
      <li class="nav-item">
       <%= link_to "Send", new_parcel_ad_path, class: 'nav-link fs-5' %>
      </li>
      <li class="nav-item">
       <%= link_to "Buy", new_buy_for_me_path, class: 'nav-link fs-5' %>
      </li>
     </ul>

     <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
       <a class="nav-link fs-5" href="#">
        Track
       </a>
      </li>
     </ul>
    <%# end %>
   <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
    <li class="nav-item">
     <a class="nav-link how-it-works" href="#">
      <img alt="Icon representing 'How does it work?'" height="20" src="https://storage.googleapis.com/a1aa/image/Uzteufene6reeFJAuFRnBgItx8IWui8CeNk3Kz76DwSpgnfpTA.jpg" width="20"/>
      How does it work?
     </a>
    </li>

    <li class="nav-item dropdown">
     <a class="nav-link active" id="bars-button" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#">
      <i class="fas fa-bars"></i>
      <% if current_user.present? %>
        <% if current_user.profile_picture.attached?  %>
          <%= image_tag current_user.profile_picture, class: 'rounded-circle border', alt: 'User Avatar', height:"30", width:"30" %>
        <% else %>
          <i class="fas fa-globe"></i>
        <% end %>
      <% end %> 
     </a>
     <ul class="dropdown-menu dropdown-menu-end menu-list" aria-labelledby="userDropdown">
        <% if user_signed_in? %>
          <li class="dropdown-item-text"><%= current_user.email if current_user.present? %></li>
          <li><%= link_to 'Edit Your Account', user_profile_path, class: 'dropdown-item' %></li>
          <li><hr class="dropdown-divider"></li>
          <li><%= link_to 'Verify you profile', verify_document_path, class: 'dropdown-item' %></li>
          <li><%= link_to 'Messages', chat_rooms_path, class: 'dropdown-item' %></li>
          <li><%= link_to 'History', 'javascript:void(0)', class: 'dropdown-item' %></li>
          <li><%= link_to 'Wallet', 'javascript:void(0)', class: 'dropdown-item' %></li>
          <li><%= link_to 'Help Center', 'javascript:void(0)', class: 'dropdown-item' %></li>
          <li>
            <%= link_to 'javascript:void(0)', class: 'dropdown-item' do %>
              Get $30 credit <i class="fa-solid fa-gift mx-5"></i>
            <% end %>
            </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete, class: 'dropdown-item' do %>
              Log Out <i class="fa-solid fa-right-from-bracket mx-5"></i>
            <% end %>
          </li>
        <% else %>
          <li><%= link_to 'Sign Up', new_user_registration_path, class: 'dropdown-item' %></li>
          <li><%= link_to 'Sign In', new_user_session_path, method: :delete, class: 'dropdown-item' %></li>
        <% end %>
      </ul>
    </li>
   </ul>
  </div>
 </div>
</nav>

