<div class="section-search mt-3 mb-3" data-controller="autocomplete">
  <div class="container">
    <div class="search-box-banner">
      <%= form_with(url: search_results_path, method: :get, local: true) do |form| %>
        <div class="search-container">
          <div class="row g-0 search-box">
            <div class="col-md-3 mt-2">
              <i class="fas fa-map-marker-alt"></i>
              <span>
                <%= form.text_field :departure_city, class: 'form-control', placeholder: 'Departure', 
                                    id: 'departure_city_select', 
                                    autocomplete: 'off', 
                                    value: params[:departure_city].present? ? params[:departure_city] : '', 
                                    data: { target: 'autocomplete.departureCity' } %>
                <%= form.hidden_field :departure_country, id: 'departure_country', data: { target: 'autocomplete.departureCountry' } %>
              </span>
            </div>
            <div class="col-md-3 mt-2">
              <i class="fas fa-map-marker-alt"></i>
              <span>
                <%= form.text_field :arrival_city, class: 'form-control', placeholder: 'Arrival', 
                                    id: 'arrival_city_select', 
                                    autocomplete: 'off', 
                                    value: params[:arrival_city].present? ? params[:arrival_city] : '', 
                                    data: { target: 'autocomplete.arrivalCity' } %>
                <%= form.hidden_field :arrival_country, id: 'arrival_country', data: { target: 'autocomplete.arrivalCountry' } %>
              </span>
            </div>
            <div class="col-md-3 mt-2">
              <i class="fas fa-calendar-alt"></i>
              <span>
                <%= form.text_field :date, class: 'form-control flatpickr', id: 'date_field', 
                                    placeholder: 'Today', data: { target: 'autocomplete.dateField' } %>
              </span>
            </div>
          </div>
          <button class="search-button">
            <%= form.submit "Search", class: 'search-button' %>
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>
    