<div class="card shadow mt-2 sort-by">
	<%# <h5>Filter</h5> %>
	<%= form_with(url: search_results_path, method: :get, local: true) do |form| %>
    <div class="">
      <div class="sort-by mb-2">
	      <div class="">
				  <h6 class="font-bold">Service</h6>
				  
				  <div class="form-check">
				    <%= form.check_box :filter, { multiple: true, class: 'form-check-input', checked: params[:filter].present? && params[:filter].include?('traveler') }, 'traveler', nil %>
				    <%= form.label :filter_traveler, "Traveler", class: 'form-check-label' %>
				  </div>
				  
				  <div class="form-check">
				    <%= form.check_box :filter, { multiple: true, class: 'form-check-input', checked: params[:filter].present? && params[:filter].include?('sender') }, 'sender', nil %>
				    <%= form.label :filter_sender, "Sender", class: 'form-check-label' %>
				  </div>

				  <div class="form-check">
				    <%= form.check_box :filter, { multiple: true, class: 'form-check-input', checked: params[:filter].present? && params[:filter].include?('buyer') }, 'buyer', nil %>
				    <%= form.label :filter_buyer, "Buyer", class: 'form-check-label' %>
				  </div>
				</div>
      </div>

			<div class="sort-by mb-2">
				<h6 class="font-bold">Parcel Type</h6>
				  <span class="fs-6">
				    <%= form.radio_button :parcel_type, 'Document', id: 'parcel_type_document', checked: params[:parcel_type] == 'Document' ? true : false %>
				    <%= form.label :parcel_type_document, 'Document', class: 'form-check-label' %><br>

				    <%= form.radio_button :parcel_type, 'Parcel', id: 'parcel_type_parcel', checked: params[:parcel_type] == 'Parcel' ? true : false %>
				    <%= form.label :parcel_type_parcel, 'Parcel', class: 'form-check-label' %><br>

				    <%= form.radio_button :parcel_type, 'Pallet', id: 'parcel_type_pallet', checked: params[:parcel_type] == 'Pallet' ? true : false %>
				    <%= form.label :parcel_type_pallet, 'Pallet', class: 'form-check-label' %><br>
				  </span>
			</div>

			<div class="sort-by mb-2">
				<h6 class="font-bold">Parcel Size</h6>
					<span class="fs-6">
						<%= form.radio_button :parcel_type, 'small', id: 'parcel_type_small', checked: params[:parcel_type] == 'small' ? true : false %>
				    <%= form.label :parcel_type_small, 'Small', class: 'form-check-label' %><br>

				    <%= form.radio_button :parcel_type, 'medium', id: 'parcel_type_medium', checked: params[:parcel_type] == 'medium' ? true : false %>
				    <%= form.label :parcel_type_medium, 'Medium', class: 'form-check-label' %><br>

				    <%= form.radio_button :parcel_type, 'large', id: 'parcel_type_large', checked: params[:parcel_type] == 'large' ? true : false %>
				    <%= form.label :parcel_type_large, 'Large', class: 'form-check-label' %>
					</span>
			</div>
			
			<div class="sort-by mb-2">
				<h6 class="font-bold">Parcel Weight</h6>
			  	<span class="fs-6">
			  		<%= form.radio_button :parcel_weight, '250..500', id: 'proposed_fee', checked: params[:parcel_weight] == '250..500' ? true : false %>
			      <%= form.label :parcel_weight_250, '250g - 500g', class: 'form-check-label' %><br>

			      <%= form.radio_button :parcel_weight, '500..1000', id: 'parcel_weight_500', checked: params[:parcel_weight] == '500..1000' ? true : false %>
			      <%= form.label :parcel_weight_500, '500g - 1kg', class: 'form-check-label' %><br>

			      <%= form.radio_button :parcel_weight, '1000..2000', id: 'parcel_weight_1000', checked: params[:parcel_weight] == '1000..2000' ? true : false %>
			      <%= form.label :parcel_weight_1000, '1kg - 2kg', class: 'form-check-label' %><br>

			      <%= form.radio_button :parcel_weight, '2000+', id: 'parcel_weight_2000', checked: params[:parcel_weight] == '2000+' ? true : false %>
			      <%= form.label :parcel_weight_2000, '+2kg', class: 'form-check-label' %>
			    </span>
			</div>

			<div class="sort-by mb-2">
				<h6 class="font-bold">Proposed Fee</h6>
			  	<span class="fs-6">
			  		<%= form.radio_button :proposed_fee, '10..100', id: 'proposed_fee_10', checked: params[:proposed_fee] == '10..100' ? true : false %>
			      <%= form.label :proposed_fee_10, '$10 - $100', class: 'form-check-label' %><br>

			      <%= form.radio_button :proposed_fee, '100..300', id: 'proposed_fee_100', checked: params[:proposed_fee] == '100..300' ? true : false %>
			      <%= form.label :proposed_fee_100, '$100 - $300', class: 'form-check-label' %><br>

			      <%= form.radio_button :proposed_fee, '300..500', id: 'proposed_fee_300', checked: params[:proposed_fee] == '300..500' ? true : false %>
			      <%= form.label :proposed_fee_300, '$300 - $500', class: 'form-check-label' %><br>

			      <%= form.radio_button :proposed_fee, '500+', id: 'proposed_fee_500', checked: params[:proposed_fee] == '500+' ? true : false %>
			      <%= form.label :proposed_fee_500, '+$500', class: 'form-check-label' %><br>
			    </span>
			</div>

			<div class="sort-by mb-2">
				<h6 class="font-bold">Category</h6>
			  	<span class="fs-6">
			  		<div class="">
				  		<input type="checkbox" name="">
				  		<label>Individual</label>
			  		</div>

			  		<div class="">
				  		<input type="checkbox" name="">
				  		<label>Professional</label>
				  	</div>
			    </span>
			</div>
			<hr>
      <div class="">
        <%= form.submit "Search", class: 'btn btn-primary mt-3' %>
        <%= link_to 'Clear All', search_results_path, class: 'btn btn-danger mt-3' %>
      </div>
    </div>
  <% end %>
</div>