<div class="main-wrapper mb-5 bg-light">
  <!-- Banner -->
  <section class="banner-section banner-slider py-5">
    <div class="container">
      <div class="home-banner">
        <div class="row align-items-center g-4">
          <!-- Left Side: Text Content -->
          <div class="col-12 col-lg-6 text-center text-lg-start" data-aos="fade-down">
            <h2 class="fs-1 text-primary" style="color: #353188 !important">Your ultimate choice for seamless shipping solutions</h2>
            <p class="fs-5 text-dark">
              Where sending, receiving, buying, carrying parcels become effortless and secure say goodbye to hassles and hello to simplicity.
            </p>
          </div>

          <!-- Right Side: Image -->
          <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center" data-aos="fade-down">
            <%= image_tag "works.png", class: "img-fluid aos rounded", alt: "banner image" %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Banner -->

  <%= render 'shared/search_form' %>

  <section>
    <div class="container text-center mt-5 mb-5">
      <h2 class="fs-1 mb-3" style="color: #353188 !important;">How does it work?</h2>
      <nav class="travel-nav">
        <button class="btn btn-primary works-btn travel-btn" style="background-color: #353188 !important; font-weight: 500;">
          <i class="fa fa-plane"></i>
          i'Travel
        </button>
        <a class="btn btn-primary works-btn send-btn" href="<%= sender_works_path %>" style="background-color: #E7E5FF !important; color: #353188 !important; font-weight: 500;">
          <i class="fa fa-paper-plane"></i>
          i'Send
        </a>
        <a class="btn btn-primary works-btn buy-btn" href="<%= buyer_works_path %>" style="background-color: #E7E5FF !important; color: #353188 !important; font-weight: 500;">
          <i class="fa fa-shopping-cart"></i>
          Buy<span class="small-text">For Me</span>
        </a>
      </nav>
      <div class="slogan">
        <h2>Turn Your Travels Into Profit!</h2>
      </div>
    </div>
  </section>


  <section class="py-5">
    <div class="container">
      <div class="row g-4">
        
        <% steps = [
          { number: 1, image: "image102.png", title: "Join the DrexBe Community for Free!", 
            description: "Verify your profile with your email, phone number, and ID to start carrying all types of parcels." },
          { number: 2, image: "image90.png", title: "Complete the I'Travel Form", 
            description: "Share your trip details-departure and destination-and choose what you can offer: carry, buy, or both!" },
          { number: 3, image: "img102.png", title: "Connect and Help Based on Your Trip!", 
            description: "Enter your trip details (departure, destination, date) to see users needing your help -or let them contact you. Use profile ratings and comments to choose the best match!" },
          { number: 4, image: "img4.png", title: "Find Your Match and Connect!", 
            description: "Choose the right sender or buyer, chat via DrexBe, negotiate your bonus. Arrange parcel collection effortlessly." },
          { number: 5, image: "img5.png", title: "Seal the Deal and Collect!", 
            description: "Once you agree with the sender or buyer: Purchase the requested product. Meet the sender, inspect the package, and confirm compliance." },
          { number: 6, image: "sender001.png", title: "Deliver, Confirm, and Get Paid!", 
            description: "Deliver the parcel to the agreed location and recipient. The sender or buyer will confirm receipt by scanning the provided QR code. Keep your bonus in your wallet or transfer it to your bank account or ATM card." },
          { number: 7, image: "img7.png", title: "Wrap Up in Style!", 
            description: "Rate your experience. Follow us on Facebook, X, Instagram, and LinkedIn. If you’re happy, invite friends and enjoy our sponsorship offer!" }
        ] %>

        <% steps.each do |step| %>
          <div class="col-md-6">
            <div class="step-card col-md-10 mx-auto">
              <div class="step-number fs-1 text-primary fw-bold" style="color: #353188 !important"><%= step[:number] %></div>
              <div class="step-content text-start text-lg-center">
                <div class="d-flex justify-content-center">
                  <%= image_tag step[:image], class: "img-fluid" , style: "max-width: 200px; height: auto;" %>
                </div>
                <h3 class="fs-3 mt-3" style="color: #353188 !important"><%= step[:title] %></h3>
                <p class="fs-5 fw-bold text-dark text-start"><%= step[:description] %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>

  <%= render 'shared/privacy_policy' %>

  <%= render 'shared/faq' %>

  <%= render 'shared/experience' %>

  <section class="mt-5">
    <div class="contaier bg-light text-center p-5">
      <h2 class="fs-1">Ready to Get Started</h2>
      <p class="lead text-dark fs-4 fw-bold mb-3">Get Started and Use DREXBE Immediatly</p>
      <button class="start-btn mt-2">Start Now</button>
    </div>
  </section>

  <%= render 'shared/questions' %>
  <%= render 'shared/subscribe' %>
    
</div>

<script>
  AOS.init();
</script>