<div class="col-lg-8 mx-auto mt-5">
  <%= form_with(url: search_results_path, method: :get, local: true) do |form| %>
    <div class="search-bar">
      <div class="search-item">
        <i class="fas fa-dot-circle"></i>
        <span>
          <%= form.text_field :departure_city, class: 'form-control', placeholder: 'Departure', id: 'departure_city_select', autocomplete: 'off' %>
          <%= form.hidden_field :departure_country, id: 'departure_country' %>
        </span>
      </div>
      <div class="search-item">
        <i class="fas fa-dot-circle"></i>
        <span>
          <%= form.text_field :arrival_city, class: 'form-control', placeholder: 'Arrival', id: 'arrival_city_select', autocomplete: 'off' %>
          <%= form.hidden_field :arrival_country, id: 'arrival_country' %>
        </span>
      </div>
      <div class="search-item">
        <i class="fas fa-calendar-alt"></i>
        <span>
          <%= form.text_field :date, class: 'form-control flatpickr', id: 'date_field', placeholder: 'Today' %>
        </span>
      </div>
      <button class="search-button">
        <%= form.submit "Search", class: 'btn' %>
      </button>
    </div>
  <% end %>
</div>
