<div class="col-lg-8 shadow p-5 mx-auto mt-5 mb-5">
  <div class="row">
    <div class="col-lg-10">
      <h1 class="text-center mb-5", style= 'color: #332F87;'>Travel smart, Earn More <br> Share Your Trip</h1>
    </div>
    <div class="col-lg-2">
      <%= link_to 'Next', 'javascript:void(0)', class: "btn btn-primary btn-lg py-1", style: 'background-color: #332F87;' %>
    </div>
  </div>

  <div class="row g-0">
    <div class="col-lg-6">
      <ul class="trav-list">
        <li>Traveling soon? Your Trip is Booked...</li>
        <li>Help DrexBe members by carrying or buying items</li>
        <li>Share Your Journey and turn it Into Profit!</li>
      </ul>
    </div>
    <div class="col-lg-6">
      <%= image_tag "traveler_page.png", class: "img-fluid", size: "450x450" %>
    </div>
  </div>

  <%= form_with(model: traveler, local: true) do |form| %>

    <!-- Display validation errors -->
    <% if traveler.errors.any? %>
      <div class="alert alert-danger">
        <h4 class="alert-heading">
          Please fix the following errors:
        </h4>
        <ul>
          <% traveler.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>  
    <% end %>
   
    <!-- Row for Departure and Arrival -->
    <div class="row g-0 mb-5 form-control">
      <div class="search-item col-md-3">
        <%= form.text_field :departure_city, class: 'form-control fw-bold ', placeholder: 'Departure', id: 'departure_city_select', autocomplete: 'off' %>
        <%= form.hidden_field :departure_country, id: 'departure_country' %>
      </div>
      <div class="search-item col-md-3">
        <%= form.text_field :arrival_city, class: 'form-control fw-bold', placeholder: 'Arrival', id: 'arrival_city_select', autocomplete: 'off' %>
        <%= form.hidden_field :arrival_country, id: 'arrival_country' %>
      </div>
      <div class="search-item col-md-3">
        <%# <i class="fas fa-calendar-alt"></i> %>
        <%= form.date_field :travel_date, class: 'form-control flatpickr fw-bold', id: 'date_field', placeholder: 'Today' %>
      </div>
      <div class="search-item col-md-3" id="return_date_container" style="display: none;">
        <%# <i class="fas fa-calendar-alt"></i> %>
        <%= form.date_field :travel_return_date, class: 'form-control flatpickr fw-bold', id: 'date_field', placeholder: 'Travel Return Date' %>
      </div>
    </div>

    <!-- Row for Trip Type -->
    <div class="row mt-4 mb-4">
      <div class="col-md-12 mb-3">
        <%= form.label :trip_type, "Trip Type", class: 'form-label' %>

        <div id="trip_type_buttons" class="btn-group d-flex flex-wrap justify-content-center" role="group" aria-label="Trip Type">
          <button type="button" class="btn btn-outline-primary mx-1 trip-type-button active" data-value="one_way">
            <%= image_tag "one-way.png", class:"icon-class" %> One Way
          </button>
          <button type="button" class="btn btn-outline-primary mx-1 trip-type-button" data-value="round_trip">
            <%= image_tag "two-way-street.png", class:"icon-class" %> Round Trip
          </button>
        </div>

        <!-- Hidden field to store the selected trip type -->
        <%= form.hidden_field :trip_type, id: 'selected_trip_type', value: traveler.trip_type %>
      </div>
    </div>

    <!-- Row for Parcel Type -->
    <div class="row mt-4 mb-4">
      <div class="col-md-12 mb-3">
        <%= form.label :parcel_type, "Shipment Type", class: 'form-label' %>
        
        <div id="parcel_type_buttons" class="btn-group d-flex justify-content-center" role="group" aria-label="Parcel Type">
          <button type="button" class="btn btn-outline-primary mx-1 parcel-type-button" data-value="Document">
            <%= image_tag "document.png", class:"icon-class" %>
             Document
          </button>
          <button type="button" class="btn btn-outline-primary mx-1 parcel-type-button active" data-value="Parcel">
            <%= image_tag "parcel.png", class:"icon-class" %> Parcel
          </button>
          <button type="button" class="btn btn-outline-primary mx-1 parcel-type-button" data-value="Pallet">
            <%= image_tag "pallet.png", class:"icon-class" %> Pallet
          </button>
        </div>

        <!-- Hidden field to store the selected parcel type -->
        <%= form.hidden_field :parcel_type, id: 'selected_parcel_type' %>
      </div>
    </div>

    <!-- Row for Parcel Qty. -->
    <div class="col-md-12 mt-4 mb-4">
      <%= form.label :parcel_qty, "Quantity", class: 'form-label' %>
      <%= form.number_field :parcel_qty, class: 'form-control', placeholder: 'pcs', min: 0 , value: traveler.parcel_qty || 0, id: 'parcel_qty' %>
      <div id="quantity_display" class="mt-2 fw-bold">Quantity: 0</div>
    </div>

    <!-- Row for Transportation -->
    <div class="row mt-4 mb-4">
      <div class="col-lg-12 mb-3">
        <%= form.label :transportation, "Mode of Transportation", class: 'form-label' %>
        
        <div id="transportation_buttons" class="btn-group d-flex flex-wrap justify-content-center" role="group" aria-label="Transportation">
          <button type="button" class="btn btn-outline-primary mx-1 transportation-button" data-value="flight">
            <%= image_tag "plane.png", class:"icon-class" %>
             Flight
          </button>
          <button type="button" class="btn btn-outline-primary mx-1 transportation-button" data-value="car">
            <%= image_tag "car.png", class:"icon-class" %> Car
          </button>
          <button type="button" class="btn btn-outline-primary mx-1 transportation-button" data-value="bus">
            <%= image_tag "bus.png", class:"icon-class" %> Bus
          </button>
          <button type="button" class="btn btn-outline-primary mx-1 transportation-button" data-value="train">
            <%= image_tag "train.png", class:"icon-class" %> Train
          </button>
          <button type="button" class="btn btn-outline-primary mx-1 transportation-button active" data-value="van">
            <%= image_tag "delivery-van.png", class:"icon-class" %> Van
          </button>
          <button type="button" class="btn btn-outline-primary mx-1 transportation-button" data-value="ship">
            <%= image_tag "boat-with-containers.png", class:"icon-class" %> Ship
          </button>
        </div>

        <!-- Hidden field to store the selected parcel type -->
        <%= form.hidden_field :transportation, id: 'selected_transportation' %>
      </div>
    </div>

    <!-- Add Another Parcel -->
    <%# <div class="mb-4">
      <a class="text-primary" href="#">+ Add another parcel</a>
    </div> %>

    <!-- ready_to_buy_for_you -->
    <div class="mb-4 mt-4">
      <div class="row">
        <div class="col-md-5">
          <%= form.label :ready_to_buy_for_you, "Ready to buy for you ?", class: 'form-label' %>
        </div>

        <div class="col-md-4">
          <%= form.radio_button :ready_to_buy_for_you, true, class: 'form-check-input', id: 'ready_to_buy_for_you_yes' %>
          <%= form.label :ready_to_buy_for_you, 'Yes', value: true, class: 'form-check-label mx-2', for: 'ready_to_buy_for_you_yes' %>

          <%= form.radio_button :ready_to_buy_for_you, false, class: 'form-check-input', id: 'ready_to_buy_for_you_no' %>
          <%= form.label :ready_to_buy_for_you, 'No', value: false, class: 'form-check-label mx-2', for: 'ready_to_buy_for_you_no' %>
        </div>
      </div>
    </div>

    <!-- Row for parcel collection mode -->
    <div class="row mt-4 mb-4">
      <div class="col-md-12 mb-3">
        <%= form.label :parcel_collection_mode, "Model of Collection", class: 'form-label' %>
        
        <div id="parcel_collection_mode_buttons" class="btn-group d-flex justify-content-center" role="group" aria-label="Parcel Collection Mode">
          <button type="button" class="btn btn-outline-primary mx-1 parcel-collection-mode-button" data-value="Hand to Hand My Place">
            <%= image_tag "box.png", class:"icon-class" %>
              Hand to Hand My Place
          </button>
          <button type="button" class="btn btn-outline-primary mx-1 parcel-collection-mode-button active" data-value="Hand to Hand Your Place">
            <%= image_tag "box.png", class:"icon-class" %> Hand to Hand Your Place
          </button>
        </div>

        <!-- Hidden field to store the selected parcel type -->
        <%= form.hidden_field :parcel_collection_mode, id: 'selected_parcel_collection_mode' %>
      </div>
    </div>

    <!-- Submit Button -->
    <div class="d-grid mt-4 mb-4">
      <%= form.submit "Post", class: "btn btn-primary mt-2 fw-bold" %>
    </div>
  <% end %>
</div>

<style>
  .trav-list {
    margin-top: 140px;
    font-size: 27px;
  }
</style>