<div class="col-lg-10 mx-auto mt-4 mb-5">
  <% if @travelers.present? %>
    <% @travelers.each do |traveler| %>
      <div class="parcel-card mb-4 border">
        <div class="p-2 card-header d-flex justify-content-between align-items-center">
          <div class="badge bg-warning text-dark rounded-0">Traveler</div>
          <div class="badge bg-light text-muted"><%= traveler.parcel_type || 'N/A' %></div>
        </div>
        <div class="card-body row p-2">
          <div class="col-md-8 mb-3 d-flex align-items-center">
            <div class="avatar-container me-3">
              <div class="avatar-circle position-relative">
                <%= traveler.name.present? ? traveler.name[0].upcase : "?" %>
              </div>
            </div>
            <div>
              <h5 class="mb-2">
                <%# if traveler.user == current_user %>
                  <%#= link_to current_user.full_name, user_profile_path(traveler.user), class: 'text-dark' %>
                <%# else %>
                  <%= traveler.name || "NA" %>
                <%# end %>
              </h5>
            </div>
          </div>
          <div class="col-md-4 mt-2 text-end">
            <%= link_to traveler_path(traveler), class: 'text-dark' do %>
              <p class="mb-0"><strong><%= traveler.departure_city %> - <%= traveler.departure_country %></strong> <i class="fa fa-arrow-right"></i> <strong><%= traveler.arrival_city %> - <%= traveler.arrival_country %></strong></p>
            <% end %>

            <% if traveler.parcel_weight.present? || traveler.buy_for_you.present? || traveler.transportation.present? || traveler.travel_date.present? %>
              <p class="mb-0">Weight : <strong> <%= traveler.parcel_weight || 'NA' %></strong></p>
              <p class="mb-0">Ready to Buy : <strong> <%= traveler.buy_for_you? ? 'Yes' : 'No' %> </strong></p>
              <p class="mb-0">Transportation : <strong> <%= traveler.transportation.upcase %> </strong></p>
              <p class="mb-0">Travel Date : <strong> <%= traveler.travel_date %></strong></p>
            <% end %>

          </div>
        </div>
          <div class="card-footer text-end p-2">
            <%= link_to traveler_path(traveler), class: 'btn btn-primary py-2 fw-bold rounded-0' do %>
              More Info <i class="fa-solid fa-arrow-right"></i>
            <% end %>
          </div>
      </div>
    <% end %>
  <% else %>
  <div class="alert alert-danger text-center" role="alert">
      No travelers found for the selected cities and date.
    </div>
  <% end %>
</div>
