<div class="col-lg-10 mx-auto mt-5 mb-5">
  <h2 class="mb-4 text-center">Travelers</h2>
  <% if @travelers.present? %>
    <table class="table table-striped table-bordered">
      <thead class="thead-light">
        <tr>
          <th>Traveler Name</th>
          <th>From</th>
          <th>To</th>
          <th>Travel Date</th>
          <th>Parcel Info</th>
          <th>Ready to Buy</th>
          <th>Parcel Weight</th>
          <th>Transportation</th>
        </tr>
      </thead>
      <tbody>
        <% @travelers.each do |traveler| %>
          <tr>
            <td><%= link_to current_user.full_name, traveler_path(traveler) %></td>
            <td>
              <strong>Departure:</strong> <%= traveler.departure_city %>, <%= traveler.departure_country %>
            </td>
            <td>
              <strong>Arrival:</strong> <%= traveler.arrival_city %>, <%= traveler.arrival_country %>
            </td>
            <td><%= traveler.travel_date %></td>
            <td>
              <%= traveler.parcel_type || 'N/A' %> parcels
            </td>
            <td><%= traveler.buy_for_you? ? 'Yes' : 'No' %></td>
            <td><%= traveler.parcel_weight || 'N/A' %> </td>
            <td><%= traveler.transportation || 'N/A' %> </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="alert alert-danger text-center" role="alert">
      No travelers found for the selected cities and date.
    </div>
  <% end %>
</div>
