<!DOCTYPE html>
<html>
  <head>
    <title>Drexbe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%#= stylesheet_link_tag "https://unpkg.com/leaflet@1.9.4/dist/leaflet.css", rel: "stylesheet", crossorigin: "anonymous" %>
    <%#= stylesheet_link_tag "https://unpkg.com/leaflet-control-geocoder@2.4.0/dist/Control.Geocoder.css", rel: "stylesheet", crossorigin: "anonymous" %>

    <%#= javascript_include_tag "https://unpkg.com/leaflet-control-geocoder@2.4.0/dist/Control.Geocoder.js", crossorigin: "anonymous" %>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Add this in the head of your HTML -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@300;400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

    <!-- Add intl-tel-input CSS via CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />

    <!-- Add intl-tel-input JS via CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js"></script>

    <!-- Google Fonts via CDN -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <%# flatpickr %>
    <link href="https://ga.jspm.io/npm:flatpickr@4.6.13/dist/flatpickr.min.css" rel="stylesheet" />

    <%# Jquery %>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

    <!-- Data Aos -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <!-- Add Owl Carousel -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <!-- Add Owl Carousel CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <script src="https://js.stripe.com/v3/"></script>

    
    <style>
      <%= ".msg-#{current_user&.id}" %> {
        background-color: #dcf8c6 !important;
        justify-content: flex-end;
        padding: 10px;
      }
      <%= ".cont-#{current_user&.id}" %> {
        display: flex;
        justify-content: flex-end;
        padding: 10px;
      }
      <%= ".read-section-#{current_user&.id} " %> {
        display: block !important;
      }
    </style>
  </head>

  <body>
    <%= render 'shared/header' %>
    <%= render 'shared/flash' %>
    <%= yield %>
    <% unless controller_name == 'chat_rooms' || controller_name == 'sessions' || controller_name == 'registrations' %>
      <%= render 'shared/footer' %>
    <% end %>

  </body>
</html>

<style type="text/css">
  body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
  }
</style>

