<!DOCTYPE html>
<html>
  <head>
    <title>Drexbe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "custom_styles", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "search_result", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "footer", "data-turbo-track": "reload" %>
    <%#= stylesheet_link_tag "style", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Add this in the head of your HTML -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@300;400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

    <!-- Add intl-tel-input CSS via CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />

    <!-- Add intl-tel-input JS via CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js"></script>

    <!-- Google Fonts via CDN -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <%# flatpickr %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <%# Jquery %>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

    <!-- Select2 CSS -->
    <link rel="stylesheet" href="assets/plugins/select2/css/select2.min.css">

    <!-- Datepicker CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap-datetimepicker.min.css">

    <!-- Aos CSS -->
    <link rel="stylesheet" href="assets/plugins/aos/aos.css">

    <!-- Fearther CSS -->
    <link rel="stylesheet" href="assets/css/feather.css">

    <!-- Owl carousel CSS -->
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">

    <!-- Boxicons CSS -->
    <link rel="stylesheet" href="assets/plugins/boxicons/css/boxicons.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- counterup JS -->
    <script src="assets/js/jquery.waypoints.js" type="b06d88dd10b7973d41f2de16-text/javascript"></script>
    <script src="assets/js/jquery.counterup.min.js" type="b06d88dd10b7973d41f2de16-text/javascript"></script>

    <!-- Select2 JS -->
    <script src="assets/plugins/select2/js/select2.min.js" type="b06d88dd10b7973d41f2de16-text/javascript"></script>

    <!-- Aos -->
    <script src="assets/plugins/aos/aos.js" type="b06d88dd10b7973d41f2de16-text/javascript"></script>

    <!-- Top JS -->
    <script src="assets/js/backToTop.js" type="b06d88dd10b7973d41f2de16-text/javascript"></script>

    <!-- Datepicker Core JS -->
    <script src="assets/plugins/moment/moment.min.js" type="b06d88dd10b7973d41f2de16-text/javascript"></script>
    <script src="assets/js/bootstrap-datetimepicker.min.js" type="b06d88dd10b7973d41f2de16-text/javascript"></script>

    <!-- Owl Carousel JS -->
    <script src="assets/js/owl.carousel.min.js" type="b06d88dd10b7973d41f2de16-text/javascript"></script>

    <!-- Custom JS -->
    <script src="assets/js/script.js" type="b06d88dd10b7973d41f2de16-text/javascript"></script>

    <script src="assets/rocket-loader.min.js" data-cf-settings="b06d88dd10b7973d41f2de16-|49" defer></script>
    
    <style>
      <%= ".msg-#{current_user&.id}" %> {
        background-color: #dcf8c6 !important;
        justify-content: flex-end;
        padding: 10px;
      }
      <%= ".cont-#{current_user&.id}" %> {
        display: flex;
        justify-content: flex-end;
        padding: 10px;
      }
      <%= ".read-section-#{current_user&.id} " %> {
        display: block !important;
      }
    </style>
  </head>

  <body>
    <%= render 'shared/header' %>
    <%= render 'shared/flash' %>
    <%= yield %>
    <% unless controller_name == 'chat_rooms' %>
      <%= render 'shared/footer' %>
    <% end %>

  </body>
</html>

<style type="text/css">
  body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
  }
</style>

