<div class="col-lg-10 mx-auto mt-5 mb-5">
	<h1 class="mt-2 mb-5 text-center">Buy for Me Products</h1>

	<table class="table table-striped">
	 	<thead>
	    <tr>
	      <th>Departure Country</th>
	      <th>Departure City</th>
	      <th>Arrival Country</th>
	      <th>Arrival City</th>
	      <th>Product Name</th>
	      <th>Product Quantity</th>
	      <th>Product Price</th>
	      <th>Buy for Me Fee</th>
	      <th>Total Price</th>
	      <th>Actions</th>
	    </tr>
	  </thead>
	  <tbody>
	    <% @buy_for_mes.each do |product| %>
	      <tr>
	        <td><%= product.departure_country %></td>
	        <td><%= product.departure_city %></td>
	        <td><%= product.arrival_country %></td>
	        <td><%= product.arrival_city %></td>
	        <td><%= product.product_name %></td>
	        <td><%= product.product_quantity %></td>
	        <td><%= number_to_currency(product.product_price) %></td>
	        <td><%= number_to_currency(product.buy_for_me_fee) %></td>
	        <td><%= number_to_currency(product.calculate_product_cost) %></td>
	        <td>
	        	<div class="dropdown">
						  <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
						    Actions
						  </button>
						  <ul class="dropdown-menu">
						    <li>
						    	<%= link_to 'Show', buy_for_me_path(product), class: "dropdown-item" %>
						    </li>
						    <li>
						    	<%#= link_to 'Edit', edit_buy_for_me_path(product), class: "dropdown-item" %>
						    </li>
						    <li>
						    	<%#= link_to 'Delete', buy_for_me_path(product), method: :delete, data: { confirm: 'Are you sure?' }, class: "dropdown-item" %>
						    </li>
						  </ul>
						</div>
	        </td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
	<% if current_user.role == 'admin' %>
		<%= link_to 'New Buy for Me', new_buy_for_me_path, class: 'btn btn-primary' %>
	<% end %>

</div>
