<div class="container" style="height: 100vh;">
  <div class="row d-flex justify-content-center align-items-center pt-3">
    <div class="col-lg-5 my-3">
      <div class="card px-5">
        <div class="card-body">
          <div class="d-flex justify-content-center gap-2 align-items-center">
            <img src="<%#= current_logo %>" style="<%#= current_setting.plmhealthoneapp? ? 'height: 100%;' : 'width:100%;'%>" class="mt-3">
          </div>
          <div class="d-flex justify-content-center my-3">
            <h3>Edit <%= current_user.full_name.to_s.humanize %></h3>
          </div>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= render "users/shared/error_messages", resource: resource %>

              <div class="row">
                <div class="col-lg-6 form-group mt-2 mb-2">
                  <%= f.label :first_name %>
                  <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: 'form-control mt-1' %>
                </div>

                <div class="col-lg-6 form-group mt-2 mb-2">
                  <%= f.label :last_name %>
                  <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: 'form-control mt-1' %>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6 form-group mt-2 mb-2">
                  <%= f.label :address_1 %>
                  <%= f.text_field :address_1, autofocus: true, autocomplete: "address_1", class: 'form-control mt-1' %>
                </div>

                <div class="col-lg-6 form-group mt-2 mb-2">
                  <%= f.label :address_2 %>
                  <%= f.text_field :address_2, autofocus: true, autocomplete: "address_2", class: 'form-control mt-1' %>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6 form-group mt-2 mb-2">
                  <%= f.label :city %>
                  <%= f.text_field :city, autofocus: true, autocomplete: "city", class: 'form-control mt-1' %>
                </div>

                <div class="col-lg-6 form-group mt-2 mb-2">
                  <%= f.label :country %>
                  <%= f.text_field :country, autofocus: true, autocomplete: "country", class: 'form-control mt-1' %>
                </div>
              </div>

              <div class="form-group mt-2 mb-2">
                <%= f.label :postal_code %>
                <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", class: 'form-control mt-1' %>
              </div>

              <div class="form-group mt-2 mb-2">
                <%= f.label :phone_number, class: 'mb-1' %>
                <%= f.text_field :phone_number, id: "phone_number", class: 'form-control mt-1' %>
              </div>

              <div class="form-group mt-2 mb-2 mt-2">
                <%= f.label :email %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control mt-1' %>
              </div>

              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>

              <div class="form-group mt-2 mb-2">
                <%= f.label :password %> <i class="text-danger">(*enter new password)</i>
                <%= f.password_field :password, autocomplete: "new-password", class: 'form-control mt-1 mt-2' %>
                <% if @minimum_password_length %>
                  <em class="text-danger"><%= @minimum_password_length %> characters minimum</em>
                <% end %>
              </div>

              <div class="form-group mt-2 mb-2">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control mt-1' %>
              </div>

              <div class="form-group mt-2 mb-2">
                <%= f.label :current_password %> <i class="text-danger">(*enter current password)</i><br />
                <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control mt-1' %>
              </div>

              <div class="actions">
                <%= f.submit "Update", class: 'btn btn-primary mt-2' %>
                <%= link_to "Back", :back, class: 'btn btn-primary mt-2' %>
              </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    const input = document.querySelector("#phone_number");
    const hiddenPhoneNumber = document.querySelector("#hidden_phone_number");

    const iti = intlTelInput(input, {
      initialCountry: "auto",
      geoIpLookup: function(callback) {
        fetch('https://ipinfo.io', { method: 'GET', headers: { 'Accept': 'application/json' } })
          .then(resp => resp.json())
          .then(data => {
            const countryCode = (data && data.country) ? data.country : "us";
            callback(countryCode);
          })
          .catch(() => {
            callback('us');
          });
      },
      separateDialCode: true,  // This displays the country code separately
      utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js" // for formatting/validation etc
    });

    // Set the initial country code when the page loads
    countryCodeField.value = `+${iti.getSelectedCountryData().dialCode}`;

    // Update country code field when the country flag is changed
    input.addEventListener('countrychange', function() {
      const selectedCountryData = iti.getSelectedCountryData();
      const countryCode = selectedCountryData.dialCode;
      
      // Display country code in the separate column
      countryCodeField.value = `+${countryCode}`;
    });

    // When the form is submitted, update the hidden phone number input with the full phone number (with country code)
    document.querySelector('form').addEventListener('submit', function() {
      hiddenPhoneNumber.value = iti.getNumber();  // Full number with country code for submission
    });
  });
</script>




