<div class="container mt-5">
  <h2 class="text-center">Add a photo of your passport</h2>
  <h5 class="text-center">Scanned documents and photocopies are accepted.</h5>

  <div class="card col-lg-6 mx-auto mt-3">
    <div class="card-body">
      <%= form_for @user, url: update_passport_path(@user), html: { multipart: true } do |f| %>
        <div class="form-group">
          <%= f.file_field :passport_document, class: 'form-control mt-2 mb-2' %>
        </div>

        <%= f.submit 'Upload Passport', class: 'btn btn-primary mt-2' %>
        <%= link_to 'Cancel', user_profile_path, class: 'btn btn-secondary mt-2' %>
        <%= link_to 'Back', verify_document_path, class: 'btn btn-warning mt-2' %>
      <% end %>
    </div>
  </div>

  <div class="card col-lg-6 mx-auto mt-3">
    <div class="card-body">
      <% if @user.passport_document.attached? %>
        <p><strong>Passport:</strong></p>
        <%= image_tag @user.passport_document, height: '350', width: '600' %>
        <%= link_to 'Download Passport', rails_blob_path(@user.passport_document, disposition: "attachment"), class: 'btn btn-success mt-3' %>
        <%= link_to 'Remove Passport', remove_passport_path(@user),data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to remove your passport?'  }, class: 'btn btn-danger mt-3' %>
      <% else %>
        <strong class="text-danger">No document is present.</strong>
      <% end %>
    </div>
  </div>
</div>

